.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.45s cubic-bezier(0.64, 0.02, 0.16, 0.97);
  transition-delay: 0.2s;
  user-select: none;
  pointer-events: none;

  &Loaded {
    opacity: 1;
  }
}
