.tilesWrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 8rem;

  @media screen and (min-width: 767px) {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15rem;
  }

  @media screen and (min-width: 1024px) {
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.filterWrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  transition: opacity 0.5s 0.5s cubic-bezier(0.64, 0.02, 0.16, 0.97);
  opacity: 0;

  &Ready {
    opacity: 1;
  }
}

.filterBtn {
  padding: 6px 18px;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.floatingBorder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  border: 2px solid var(--black);
  border-radius: 15px;
  user-select: none;
  pointer-events: none;
  transition: width 0.65s cubic-bezier(0.64, 0.02, 0.16, 0.97),
    transform 0.65s cubic-bezier(0.64, 0.02, 0.16, 0.97);
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}
