.codeWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  right: 40px;
  display: flex;
  mix-blend-mode: difference;
}

.backWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 40px;
  display: flex;
  mix-blend-mode: difference;
}
