.codeWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  right: 40px;
  display: flex;
  mix-blend-mode: difference;
}

.backWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 40px;
  display: flex;
  mix-blend-mode: difference;
}

.numberWrapper {
  mix-blend-mode: difference;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 40px;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.numberContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  overflow: hidden;
}

.number {
  color: var(--white);
  font-size: 20px;
  transform: translateY(100%);
  transition: transform 0.8s cubic-bezier(0.64, 0.02, 0.16, 0.97);

  &Ready {
    transform: translateY(0%);
  }
}

.pageWrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 1;
  transition: opacity 0.8s;
  transition-delay: 0.25s;

  &Uncover {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}
