.codeWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  right: 40px;
  display: flex;
  mix-blend-mode: difference;
}

.backWrapper {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 40px;
  display: flex;
  mix-blend-mode: difference;
}

.numberWrapper {
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 40px;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.numberContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
}

.number {
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
}
