.wrapper {
  position: relative;
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.45s cubic-bezier(0.64, 0.02, 0.16, 0.97);
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  [data-card='2'] {
    transform: rotateY(180deg) scale(1);
    z-index: 2;
  }

  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    [data-card='1'] {
      transform: rotateY(-180deg) scale(0.6);
    }

    [data-card='2'] {
      transform: rotateY(0deg) scale(0.6);
    }
  }
}

.imageWrapper {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.24, 0.05, 0.16, 0.97);
  backface-visibility: hidden;
  transform: rotateY(0deg) scale(1);
  z-index: 1;
}

.imagesContainer {
  perspective: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.numberWrapper {
  position: absolute;
  z-index: 5;
  top: 4%;
  left: 4%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: var(--black);
  overflow: hidden;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-weight: 800;
  color: var(--white);
  font-size: 1.2rem;

  @media screen and (min-width: 767px) {
    font-size: 2rem;
  }
}

.badgesWrapper {
  position: absolute;
  z-index: 30;
  right: 0;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.badge {
  padding: 8px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--green);
  color: var(--black);
  font-size: 12px;
  font-weight: 800;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &Purple {
    background: var(--purple);
    color: var(--white);
  }
}
